.auth {
    height: 100%;
    background-color: var(--pure-blue);
    background: linear-gradient(var(--light-blue),var(--pure-blue));
    color:whitesmoke; 
}


.auth__nav:before {
    content: "< Back";
    font-weight: 500;
    font-size: 1.2rem;
}
.auth__nav {
    text-align: left;
    list-style: none;
    padding: 20px;
}


.landing {
    height: 100%;
}

.landing h1 {
    padding: 24% 0;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: relative;
    animation: moveIn 1.2s cubic-bezier(0,.14,.27,.8) forwards;
}

.landing button {
    margin:45px;
}

.landing p {
    font-family: 'Roboto', sans-serif;
}

.landing__signin {
    color: var(--pastel-green);

}

.sponge .n {
    position: relative;
}

@keyframes moveIn {
    from{top:-200px;opacity: -1.5;}
    to{top:0px;opacity: 1;}
}


@keyframes moveY {}

