.user-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.user-container h1 {
    font-weight: 800;
    padding-bottom: 16px;
}