.comment-container .button {
    height: 30px;
    width: fit-content;
}

.comment-container form {
    position: relative;
    height: fit-content;
    width: 100%;
}

.comment-container textarea {
    width: 90%;
    height: 80px;
    border-radius: 10px;
}
