.home-container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 84% 6%;
}

.accounts-container {
    overflow: scroll;
    scroll-behavior: smooth;
}

.nav-items {
    display: flex;
}


.message a, .camera a, .gear a, .home a {
    display: inline-block;
    height: 100%;
}

.message svg, .gear svg, .home svg{
    height: inherit;
}

.camera svg {
    height: 90%;
    padding-top: 7px;
}

.gear {
    fill: #727270;
    padding-right: 10px;
}

.home {
    padding-left: 10px;
}

