.comment-container {
    display: flex;
    padding-left: 12px;
    position: relative;
    
}

.comment__content {
    background: whitesmoke;
    padding: 12px;
    margin: 16px;
    margin-left: 40px;
    border-radius: 12px;
    border-top-left-radius: 0px;
    min-width: 65%;
}

.comment__content p {
    text-align: left;
    padding-left: 12px;
}

.comment__author {
    padding-bottom: 8px;
    font-weight: 600;
}

.comment__body {
    padding-bottom: 12px;
}

.comment-container .profile-image {
    height: 45px;
}

.comment__like-toggle, .delete {
    text-align: left;
    position: absolute;
    bottom: 34px;
    left: 140px;
    text-decoration: underline;
    cursor: pointer;
}

.delete {
    left: 190px;
    cursor: pointer;
}